/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.field-hint .mdc-tooltip__surface { white-space: pre-line; max-width: 420px; text-align: left; line-height: 1.4; font-size: 12.5px; }
